<!DOCTYPE html>
{#- Template: http://getbootstrap.com/examples/dashboard/ #}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="pastebot">
    <meta name="author" content="derbenoo">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>PasteBot</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PasteBot</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form action="/paste/add" method="post" name="add_paste" autocomplete="off">
          <div class="navbar-form navbar-right">
            {{glob_vars.pasteform.author(id= "input_username", class= "form-control", size="25", maxlength="20", placeholder="username", value="" if glob_vars.username == None else glob_vars.username)}}
          </div>
          <ul class="nav navbar-nav navbar-right">
            {#<li><a href="#">Settings</a></li>#}
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        {#
        <div>
        	Sort by &nbsp;
        	<input class="btn btn-xs btn-default btn-sort {%if glob_vars.sort_by_author   == "1" %}btn-primary{%endif%}" id="sort_by_author" type="button" value="author">
        	<input class="btn btn-xs btn-default btn-sort {%if glob_vars.sort_by_category == "1" %}btn-primary{%endif%}" id="sort_by_category" type="button" value="category">
        </div>
        <br>
        #}
        
        <a><i id="refresh_pastes" class="flush-right glyphicon glyphicon-refresh"></i></a>
        <a href="/paste"><i class="flush-right glyphicon glyphicon-plus-sign"></i></a>
        <hr>
        
        <ul id="paste_list" class="nav nav-sidebar">
        {%- for p in glob_vars.nav %}
		<li class="{{p.author}}, {{p.category}}{%- if paste%}{%- if paste.id == p.id %}, active{%- endif %}{%- endif %}">
		 <a href="/paste/{{p.id}}">
		 <kbd class="paste-index" id="{{p.id}}" data-toggle="tooltip" data-placement="top" title="Delete paste #{{p.id}}">
		 #{{p.id}}</kbd>&nbsp; {{p.name}} &nbsp;<font color="darkgrey"><small>by {%if glob_vars.username == p.author%}<b>{{p.author}}</b>{%else%}{{p.author}}{%endif%}</small></font></a>
		</li>
		{%- endfor %}
		</ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {%- block content%}  
        {%- endblock%}
        </div>
      </div>
      </form>
    </div>


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
  </body>
</html>