{% for module in form.modules %}

<div class="col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading module-header">
			{{module.form.score(size="1", readonly= true, class="input-read-only")}}
			<strong>{{module.form.mod_name(size="20", readonly= true, class="input-read-only")}}</strong>
			<i class="flush-right glyphicon glyphicon-star-empty module-star"></i>
		</div>
		<div class="module-body" {% if module.form.content.data == "" %} style="display: none;" {% endif %}>
			{{module.form.content(id= "module_content", readonly= true, rows="5", class="form-control")}}
			{{module.form.module_id(id="module_id", type= "hidden")}}
		</div>
	</div>
</div>
{% endfor %}